*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.5em;
  font-size: 20px;
  font-family: sans-serif;
}

section {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-title {
  margin-top: 20px;
}

.game-controls {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.gamer {
  font-weight: bold;
}
.user-controls,
.comp-controls {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.controls {
  margin: 20px;
  background-color: orange;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background-position: center;
  background-size: contain;
}

[data-control='rock'] {
  background-image: url(../images-rsp/rock.png);
}
[data-control='scissors'] {
  background-image: url(../images-rsp/scissors.png);
}
[data-control='paper'] {
  background-image: url(../images-rsp/paper.png);
}
button {
  cursor: pointer;
}
.animation-container {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.animation {
  min-width: 100%;
  border-radius: 20px;
  box-shadow: 3px 5px 20px 2px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16),
    0 2px 5px rgba(0, 0, 0, 0.26);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 2px 5px rgba(0, 0, 0, 0.26);
}

.active {
  background-color: green;
}

.error {
  background-color: red;
}

.reset {
  padding: 7px 15px;
  background-color: orange;
  border-radius: 15px;
}

.message {
  margin-top: 10px;
}
.result {
  margin-top: 10px;
  text-align: center;
}

.comp-controls.blink .rock {
  animation: blink 0.5s linear infinite;
}
.comp-controls.blink .scissors {
  animation: blink 0.5s 0.2s linear infinite;
}
.comp-controls.blink .paper {
  animation: blink 0.5s 0.3s linear infinite;
}
.comp-controls.blink {
  animation-play-state: paused;
}
@keyframes blink {
  100% {
    background-color: green;
  }
}
